<body style="background-color: black;">
    


<h1 style="text-align: center;margin-top: 5px;color: white;">Contact Us</h1>

<div class="container">
    <div class="row">
        <strong style="color: white;">Please use this contact form to get in touch with the Flipkart Stories team with regard to the content published on stories.flipkart.com only. Please note that complaints about products sold on Flipkart or customer support emails will not receive a response. For such issues, please tweet to @Flipkartsupport        </strong>
    </div>
</div>



    
    <div class="container">
        <div class="row">
            <form action="/action_page.php" style="color: rgb(189, 227, 38);">
                <div class="mb-3 mt-3">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="mb-3">
                  <label for="pwd" class="form-label">Name:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter name" name="name">
                </div>
    
                <div class="mb-3">
                    <label for="pwd" class="form-label">Comments:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter comments" name="Comments">
                  </div>
                
                <button type="submit"  class="btn btn-primary">Submit</button>
              </form><br><br>
        </div>
    </div><br><br>

</body>