<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <strong style="font-size: x-large;font-family: 'Times New Roman', Times, serif;">Experiment Learn Grow</strong>
            <p style="font-size: larger;font-family: 'Times New Roman', Times, serif;margin-top: 6px; " >Our journey of building India's biggest unicorn
                start-up has been full of successes, but also failures
                and learning from them. That's why there's calculated
                risk-taking, a high willingness to learn and improvise,
                and a growth orientation built into everything we do.
                Whether it be opening a new warehouse, or making
                our mobile app a bit more consumer friendly, we're
                always experimenting, learning and growing!
            </p>
            
            <p style="font-size: larger;font-family: 'Times New Roman', Times, serif;">
                We celebrate our biggest risk that
didn't work out each year with the
Chandrayaan Award at our Annual
Awards ceremony!


            </p>
        </div>



        <div class="col-lg-6 mt-5">
              <img src="/../assets/About us.webp" alt="">
        </div>
    </div>
</div>
